.content {
    text-align: center;
    padding: 10px;
}

button {
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: pink;
    border: 2px solid palevioletred;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bookCoverStyling img {
    height: 300px;
    width: 200px;
}

.titleStyling {
    font-weight: bold;
    text-decoration: underline;
}

.authorStyling {
    
}

.descriptionStyling {
    font-style: italic;
}

